In [1]:
!pip install tabula-py
import tabula

Requirement already satisfied: tabula-py in c:\users\quynh\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: distro in c:\users\quynh\anaconda3\lib\site-packages (from tabula-py) (1.5.0)
Requirement already satisfied: pandas>=0.25.3 in c:\users\quynh\anaconda3\lib\site-packages (from tabula-py) (1.1.2)
Requirement already satisfied: numpy in c:\users\quynh\anaconda3\lib\site-packages (from tabula-py) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\quynh\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\quynh\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\quynh\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.14.0)

In [2]:
table = tabula.read_pdf("G1.pdf", pages=1)

In [3]:
for i in range(len(table)):
    table[i].columns = table[i].columns.str.replace(r"\r", " ")

In [4]:
table[0]

,CHICOPEE BIG Y,CHICOPEE CENTER,UNION STATION BAY 2,"THE ""X""",RIVERBEND MEDICAL CENTER,ALLEN & COOLEY/ 5 TOWN PLAZA,CANON CIRCLE,ALLEN & COOLEY/ 5 TOWN PLAZA.1,"THE ""X"".1",UNION STATION BAY 6,CHICOPEE CENTER.1,CHICOPEE BIG Y.1,Unnamed: 0
0,7,6,1,2,3,4,5,4,2,1,6,7,NaN
1,WEEKDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--,--,--,--,--,--,--,--,--,--,6:00,6:18,NaN
3,--,--,--,--,--,--,--,5:35,5:45,6:10,6:25,6:43,NaN
4,--,--,--,--,--,--,--,--,--,6:25,6:45,7:03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,4:15,4:30,4:45,4:55 S,--,--,5:10,5:25,5:35,6:00,6:10,6:28,NaN
99,5:00,5:15,5:30,5:40 S,--,--,5:55,6:10,6:20,6:45,6:55,7:13,NaN
100,5:45,6:00,6:15,6:25 S,--,--,6:40,6:55,7:05,7:30,7:40,7:58,NaN
101,6:30,6:45,7:00,7:10 S,--,--,7:20,7:25,7:35,8:05,--,--,NaN
102,7:15,7:30,7:45,7:55,--,--,--,--,7:55,8:20,--,--,NaN

In [5]:
# morning
index = table[0].index
condition1 = table[0]['CHICOPEE BIG Y'] == "WEEKDAY"
condition2 = table[0]['CHICOPEE BIG Y'] == 'SATURDAY'
condition3 = table[0]['CHICOPEE BIG Y'] == 'SUNDAY'
day_indices = index[condition1][0], index[condition2][0], index[condition3][0]

table_weekday = table[0].iloc[day_indices[0] + 1: day_indices[1] - 1]
table_saturday = table[0].iloc[day_indices[1] + 1: day_indices[2] - 1]
table_sunday = table[0].iloc[day_indices[2] + 1: len(table[0])]
table_weekday.to_csv(r'weekday.csv', index=False, header=True) 
table_saturday.to_csv(r'saturday.csv', index=False, header=True) 
table_sunday.to_csv(r'sunday.csv', index=False, header=True)

In [6]:
table_times = table[0].copy()
table_times = table_times[table_times['CHICOPEE BIG Y'] != 'WEEKDAY']
table_times = table_times[table_times['CHICOPEE BIG Y'] != 'SATURDAY']
table_times = table_times[table_times['CHICOPEE BIG Y'] != 'SUNDAY']
table_times = table_times.iloc[1:]

In [7]:
table_times.reset_index()
table_times

,CHICOPEE BIG Y,CHICOPEE CENTER,UNION STATION BAY 2,"THE ""X""",RIVERBEND MEDICAL CENTER,ALLEN & COOLEY/ 5 TOWN PLAZA,CANON CIRCLE,ALLEN & COOLEY/ 5 TOWN PLAZA.1,"THE ""X"".1",UNION STATION BAY 6,CHICOPEE CENTER.1,CHICOPEE BIG Y.1,Unnamed: 0
2,--,--,--,--,--,--,--,--,--,--,6:00,6:18,NaN
3,--,--,--,--,--,--,--,5:35,5:45,6:10,6:25,6:43,NaN
4,--,--,--,--,--,--,--,--,--,6:25,6:45,7:03,NaN
5,--,--,6:00,6:10,--,--,6:30 S,6:35,6:45,7:15,7:35,7:58,NaN
6,--,--,6:15,6:25,--,--,--,--,6:30,6:55,7:15,7:38,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,4:15,4:30,4:45,4:55 S,--,--,5:10,5:25,5:35,6:00,6:10,6:28,NaN
99,5:00,5:15,5:30,5:40 S,--,--,5:55,6:10,6:20,6:45,6:55,7:13,NaN
100,5:45,6:00,6:15,6:25 S,--,--,6:40,6:55,7:05,7:30,7:40,7:58,NaN
101,6:30,6:45,7:00,7:10 S,--,--,7:20,7:25,7:35,8:05,--,--,NaN
102,7:15,7:30,7:45,7:55,--,--,--,--,7:55,8:20,--,--,NaN

In [8]:
table_times.to_csv(r'CHICOPEE-SUMNER-ALLEN-CANON-CIRCLE.csv', index=False, header=True)